page-home {
    ion-content {
        background-image: url('../assets/imgs/home_background.jpg');
        background-size: 100%, 100%;
        object-fit: contain;
        /* Do not scale the image */
        object-position: center;
        /* Center the image within the element */
    }
    ion-header {
        .toolbar {
            .toolbar-background {
                background: transparent;
            }
            .toolbar-title {
                color: white;
            }
        }
    }
    .overlay {
        background-color: black;
        width: 100vw;
        height: 100vh;
        opacity: 0.6;
    }
    .ion-md-menu {
        color: white !important;
    }
    .ion-ios-menu {
        color: white !important;
    }
}